 .dropbtn {
  border: none;
  background-color: #1c1d20;
  z-index: 2;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  z-index: 2;
}

.dropdown-content {
  border-radius: 30px;
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  background-color: #17181a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  cursor: pointer;
  border-radius: 30px;
  color: lightgrey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p {
  cursor: default;
  border-radius: 30px;
  color: lightgrey;
  padding: 12px 16px;
  margin: 0px;
  text-decoration: none;
  display: block;
}

.bimg {transition: all 0.5s ease;}


.dropdown-content a:hover {background-color: rgb(52, 52, 52);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .bimg {transform: rotate(90deg);}