 .dropbtn {
  border: none;
  background-color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  border-radius: 30px;
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  background-color: gray;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 30px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content p {
  border-radius: 30px;
  color: white;
  padding: 12px 16px;
  margin: 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: darkgray;}

.dropdown:hover .dropdown-content {display: block;}