 .perk {
  border: none;
  background-color: black;
}

.perk2 {
    padding: 10px;
    align-items: center;
    width: 160px;
    position: relative;
    display: inline-block;
    text-wrap: y;
}

.perk-content {
  border-radius: 20px;
  display: none;
  position: absolute;
  text-align: center;
  background-color: rgb(26, 26, 26);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.perk-content p {
  font-size: 17px;
  cursor: default;
  color: lightgrey;
  margin: 0px;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.pimg {
    height: 150px;
}

.perk2:hover .perk-content {display: block;}