:root{
  --h-size: 60px;
}
html{
  margin-top: 0;
  padding: 0;
}
body{
	color:lightgray;
	background-color:black;
    font-size: 30px;
}
@font-face {
    font-family: robo;
    src: url(roboto.ttf);
}
*{
  font-family: robo;
  cursor: default;
}
.pnt{
  cursor: pointer;
}
.link{
  padding: 10px;
}
.top{
  height: var(--h-size);
}

.hder{
  padding: 10px;
  flex-grow: 1;
  background-color: black;
  height: fit-content;
  border-bottom: 10px white;
}
header{
  top: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
  position: fixed;
  width: 100%;
}
.menu {
    background-color: #3788AB;
    padding: 20px;
    height: 0px;
    transition: height 0.5s ease;
}

.menu:hover {
    background-color: #AC3864;
    cursor: pointer;
    height: 300px;

}