:root{
  --h-size: 60px;
}
html{
  margin-top: 0;
  padding: 0;
}
body{
	color:lightgray;
	background-color:#212225;
    font-size: 30px;
}
@font-face {
    font-family: robo;
    src: url(roboto.ttf);
}
*{
  font-family: robo;
  cursor: default;
}
.pnt{
  cursor: pointer;
}
.link{
  padding: 10px;
}
.top{
  height: var(--h-size);
}

.hder{
  padding: 10px;
  flex-grow: 1;
  background-color: #1c1d20;
  height: fit-content;
  border-bottom: 10px white;
}
header{
  z-index: 9999;
  top: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
  position: fixed;
  width: 100%;
}